<div class="card-style">
    <div fxLayout="row">
    <div>
        <mat-form-field>
            <input matInput>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input matInput>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input matInput>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input matInput>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input matInput>
        </mat-form-field>
    </div>
</div>
<div fxLayout="row">
    <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
  </div>
</div>