<div class="card-style">
    <div fxLayout="row" fxLayoutAlign="space-around center">
        <div>
            <mat-form-field>
                <input matInput>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput [matDatepicker]="picker3" placeholder="Fecha de venta" [(ngModel)]="date">
                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                <mat-datepicker #picker3></mat-datepicker>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput>
            </mat-form-field>
        </div>
    </div>
</div>